@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

body {
  background-color: #001e2b !important;
  font-family: "DM Sans", sans-serif !important;
}
.slick-arrow {
  display: none !important;
}
.slick-dots li button {
  outline: none !important;
}
.slick-dots li button::before {
  color: #fff !important;
  top: 0.5rem !important;
}

*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #fff;
  border: 4px solid #fff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #fff;
}

*::-webkit-scrollbar-track:active {
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #57b688;
  border: 1px solid #57b688;
}
#nav-menu header {
  max-width: 1519px !important;
}
#geners-carousel {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#geners-carousel #opacity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}
#opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
}
.bg-default-300\/50{
  background-color: unset !important;
}