@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background-color: #001e2b !important;
  font-family: "DM Sans", sans-serif !important;
}
.play-btn {
  box-shadow: 3px 3px 10px #b5b5b5;
  height: 150px;
  width: 150px;
}

.slick-arrow {
  display: none !important;
}
#popular .slick-dots {
  bottom: -48px !important;
}
.slick-dots li button {
  outline: none !important;
}
.slick-dots li button::before {
  color: #fff !important;
  top: 0.5rem !important;
}

#opacity-fade {
  background-color: white;
  transition: opacity 0.5s ease-out;
}
#opacity-story {
  background: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.crossfade {
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-out;
}

*::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #fff;
  border: 4px solid #fff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #fff;
}

*::-webkit-scrollbar-track:active {
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #57b688;
  border: 1px solid #57b688;
}

#geners-carousel {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#geners-carousel #opacity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}
#opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
}
.bg-default-300\/50 {
  background-color: unset !important;
}
#header-item {
  backdrop-filter: blur(15px);
  background: rgb(0 30 43 / 40%);
  height: 690px;
  margin-bottom: 2rem;
}
/* Spinner */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #57b688 transparent #57b688 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* @media (min-width: 1000px) {
  .slick-dots {
    display: none !important;
  }
} */
@media (max-width: 1000px) {
  #nav-menu header {
    max-width: 950px !important;
  }
}
@media (min-width: 2000px) {
  #nav-menu header {
    max-width: 1519px !important;
  }
}
